{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{ category_name }} {% endblock %}

{% block body_block %}
<h1>Rango says...</h1>

hello world! <strong>{{ boldmessage }}</strong><br />

				{% if categories %}
					<ul>
						{% for category in categories %}
						<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</li>
						{% endfor %}
					</ul>
				{% else %}
					<strong>There are no categories present.</strong>
				{% endif %}
						
				<a href="/rango/add_category/"> Add a New Category</a> <br/ > <br/ >

				<img src="{% static "images/iniesta.jpg" %}" alt = "iniesta's picture" / width="441" height="600">
{% endblock %}
